<div class="container">
  <h1>A propos</h1>
  <h2>Safecast</h2>
  <p class="paragraph">Safecast est une organisation internationale axée sur les bénévoles qui se consacre à la science ouverte de l'environnement pour les citoyens. Après le tremblement de terre et le tsunami dévastateurs qui ont frappé l'est du Japon le 11 mars 2011, et la fusion subséquente de la centrale nucléaire de Fukushima Daiichi, des informations exactes et fiables sur les radiations étaient publiquement indisponibles. Safecast a été créé en réponse, et a rapidement commencé à surveiller, à recueillir et à partager ouvertement des informations sur les rayonnements environnementaux et autres polluants, en augmentant rapidement la taille et la portée géographique. Leur mission est de fournir aux citoyens du monde entier les outils dont ils ont besoin pour s'instruire en recueillant et en partageant des données environnementales précises de manière ouverte et participative.</p>

  <h2>Aqicn</h2>
  <p class="paragraph">Les données publiées sur l'indice mondial de la qualité de l'air sont en temps réel et donc non valides au moment de la publication. Cependant, afin d'assurer un haut niveau de précision pour chaque chiffre AQI, plusieurs solutions de traitement d'apprentissage de machine sont utilisées. Par exemple, la cohérence des données est vérifiée, en temps réel, avec les stations voisines, ce qui permet de détecter automatiquement les stations de surveillance défectueuses et de les supprimer, si nécessaire, de la carte.</p>

  <h2>Openaq</h2>
  <p class="paragraph">La mission d'OpenAQ est de construire le premier centre de données sur la qualité de l'air ouvert au monde afin de permettre une science impossible jusqu'alors, d'informer les politiques et d'habiliter le public autour de la pollution atmosphérique. La plate-forme suit trois principes directeurs:</p>
  <ul>
  <li>Fournir un accès aux données ouvert</li>
  <li>Avoir une plate-forme complètement ouverte</li>
  <li>Construire une communauté pour entretenir la plate-forme</li>
  </ul>

  <h2>Airvisual</h2>
  <p class="paragraph">Au cœur de la communauté se trouve une équipe dynamique de programmeurs, de développeurs, de concepteurs, de spécialistes de l'environnement, d'experts en météorologie et d'ingénieurs chimistes représentant 6 pays, provenant de 4 continents différents, avec un point commun - une passion pour le monde dans lequel nous vivons et l'air que nous respirons.</p>

  <h2>OpenWeatherMap</h2>
  <p class="paragraph">Leur mission est de rendre les données géographiques ouvertes et disponibles grâce à des API faciles à utiliser pour inspirer de nouvelles applications innovantes avec des images, des données météorologiques et d'autres flux de données instantanément disponibles.<br>
  Technologies informatiques Big Data haut de gamme pour traiter automatiquement des milliards de points de données à chaque seconde. OpenWeatherMap recueille des données provenant de milliers de capteurs répartis sur toute la planète dont le réseau de capteurs est en expansion permanente.</p>
</div>
