.footer {
  position:absolute;
  bottom:0;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:50px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
}
.twitter {
  padding-left: 80%;
  // position: fixed;
  // bottom: 20px;
  opacity: 0.5;
  transition: 0.3s;
}
.twitter:hover {
  opacity: 1;
  transition: 0.3s;
}
