<div class="container">
	<h1 class="text-center">Plan du site</h1>
	<div class="list-plan">
		<blockquote>Pages</blockquote>
		<ul>
			<li><a routerLink="/">Accueil</a></li>
			<li><a routerLink="/terms">Conditions générales</a></li>
			<li><a routerLink="#">À propos</a></li>
			<li><a routerLink="/sitemap">Plan du site</a></li>
			<li><a routerLink="/404">404</a></li>
		</ul>
		<blockquote>API</blockquote>
		<ul>
			<li><a routerLink="#">Pollution de l'air : Airvisual</a></li>
			<li><a routerLink="#">Pollution de l'air : Aqicn</a></li>
			<li><a routerLink="#">Pollution de l'air : Openaq</a></li>
			<li><a routerLink="#">Pollution chimique : Safecast</a></li>		
		</ul>
	</div>	
</div>
