<div class="container">
	<h1 class="text-center">Plan du site</h1>
	<div class="list-plan">
		<blockquote>Pages</blockquote>
		<ul>
			<li><a routerLink="/">Accueil</a></li>
			<li><a routerLink="/terms">Conditions générales</a></li>
			<li><a routerLink="#">À propos</a></li>
			<li><a routerLink="/sitemap">Plan du site</a></li>
			<li><a routerLink="/404">404</a></li>
		</ul>
	</div>
	<div class="list-plan">
		<blockquote>API</blockquote>
		<ul>
			<li><a routerLink="#">L'air</a></li>
			<li><a routerLink="#">L'eau</a></li>
			<li><a routerLink="#">Le feu</a></li>
			<li><a routerLink="#">La terre</a></li>
			<li><a routerLink="#">Avatar</a></li>			
		</ul>		
	</div>
</div>
