.card {
  width: 20%;
  height: 150px;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

.good {  background-color: #4CAF50;}
.moyen { background-color: #FF9800;}
.bad {background-color: #F44336}
