.list-plan{
	font-size: 25px;
	width: 48%;
	display: inline-block;
}

a {
	color: black;
  	text-decoration: none;
}

blockquote
{
  font-style: normal;
  
  border-left: 4px solid #188a94;
  padding-left: 8px;
}

ul {
	list-style : none;
}