<div class="container">
    <a routerLink="">Retour!</a>
    <p>website : {{_websiteName}}</p>

    <div class="box">
      <p>show the map : <b>{{_options.showMap}}</b></p>
      <p>data empty : <b>{{isEmptyData()}}</b></p>
      <h1>{{ title }}</h1>

      <!-- Show Google Maps if params show = true and data are not empty -->
      <div *ngIf="!isEmptyData()">
        <div *ngIf="_options.showMap">
          <sebm-google-map   [latitude]="_gmap.lat" [longitude]="_gmap.lng" [streetViewControl]="false"  [styles]="getStyle(_options.typePollution)">
              <sebm-google-map-marker [latitude]="_gmap.lat" [longitude]="_gmap.lng" ></sebm-google-map-marker>
          </sebm-google-map>
          </div>
      </div>

    <div class="box">
        <div id="myPieChart"></div>
    </div>
</div>
