<div class="container">
	<h1>Conditions générales d'utilisation du site Polluviz.fr</h1>


	<h2>ARTICLE 1 : Objet</h2>
	<p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site Polluviz.fr et leur utilisation par « l'Utilisateur ».</p>
	<p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.</p>
	<p>Polluviz.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.</p>

	<h2>ARTICLE 2 : Mentions légales</h2>
	<p>L'édition du site Polluviz.fr est assurée par la licence professionnel LPDW dont l'école est situé sur l'Avenue Marcel Paul, Z.A.C des Barbanniers, 92230 Gennevilliers.</p>

	<h2>ARTICLE 3 : Définitions</h2>
	<p>Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.</p>

	<h2>ARTICLE 4 : Accès aux services</h2>
	<p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>
	<p>Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.</p>
	<p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de Polluviz.fr.</p>
	<p>L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.</p>

	<h2>ARTICLE 5 : Propriété intellectuelle</h2>
	<p>Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
	<p>L'Utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.</p>
	<p>L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.</p>

	<h2>ARTICLE 7 : Responsabilité et force majeure</h2>
	<p>Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations et contenus du présent site.</p>
	<p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.</p>
	<p>Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est pas assurée par le site. Toutefois, le site s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.</p>
	<p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

	<h2>ARTICLE 9 : Évolution du contrat</h2>
	<p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.</p>

	<h2>ARTICLE 10 : Durée</h2>
	<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.</p>
</div>

