/* You can add global styles to this file, and also import other style files */
body{
  background-color: #E0E0E0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.left{
  float: left;
}
.text-center{
  text-align: center;
}


@media screen and (max-width: 900px) {
  .container {
    margin-top: 50px;
    width: 95%;
  }
}
