/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  // height: 100%;
  box-sizing: border-box;
}
body{
  background-color: #E0E0E0 !important;
  background: url(assets/images/bottom.svg) center bottom no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // height: 100%;
  min-height: 100%;
  color: #424242;
  position: relative;
}
p, h1 {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.left{
  float: left;
}
.text-center{
  text-align: center;
}
footer {
  display: block;
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0 !important;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  display: table-row;
}

.sk-cube-grid {
  width: 200px;
  height: 200px;
  margin: 200px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #188A94;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-top: 50px;
    width: 95%;
  }
  html {
    height: auto;
  }
}

@media screen and (max-height: 600px) {
  // footer {
  //   position: absolute;
  // }
  // html, body {
  //   height: 600px;
  // }
}
