

<form (ngSubmit)="onSubmit(searchControl)">
  <input type="text" [formControl]="searchControl" placeholder="city" style="margin-left:2em">
  <input type="submit">
</form>

<div class="container text-center" *ngIf="_apiData.length === 3">
  <div class="card good" *ngFor="let api of _apiData | orderBy : ['websiteName'] " (click)="showPageApi(api)">
        {{api.websiteName}}
  </div>
</div>


<!-- <div class="card good" > ceci est une carte </div>
<div class="card good" > ceci est une carte </div>
<div class="card bad"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card bad"> ceci est une carte </div> -->
