.card {
  cursor: pointer;
  width: 25%;
  height: 180px;
  line-height: 180px;
  text-align: center;
  color: #fff;
  padding: 5px;
  padding-top: 8px;
  border-radius: 2px;
  display: inline-block;
  margin: 2%;
  position: relative;
  -webkit-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  -webkit-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.good {  background-color: #7CB342;}
.moyen { background-color: #FBC02D;}
.bad {background-color: #BF360C}

@media screen and (max-width: 900px) {
  .card {
    width: 40%
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 90%
  }
}
