<!-- Voir la console de votre navigateur pour voir les données -->

<!-- <p> -->
   <!-- data venant de <button (click)="redirectToExternalLink('http://aqicn.org')">aqicn</button> -->
  <!-- <span style="red">{{errorMessage}}</span> -->
<!-- </p> -->

<!-- <p>
  data provenant de <button (click)="redirectToExternalLink('https://openaq.org')">openaq</button>
</p> -->

<div class="container text-center">
  
    <a class="card good" *ngFor="let api of _listApi" [routerLink]="['/pageApi',api.websiteName]">
      {{api.websiteName}}
    </a>
    
</div>

<!-- <div class="card good" > ceci est une carte </div>
<div class="card good" > ceci est une carte </div>
<div class="card bad"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card moyen"> ceci est une carte </div>
<div class="card bad"> ceci est une carte </div> -->
