$a-color: #188a94;

a {
  text-decoration:none;
  font-style: normal;
  color: $a-color;
}

// google map
.sebm-google-map-container {
  height: 300px;
}

.box{
  width: 40%;
  margin: 2%;
  display: inline-block;
  vertical-align: top;
}

.container {
  margin-top: 10px;
}

.good {  border-bottom: 3px solid #7CB342;}
.moyen { border-bottom: 3px solid #FBC02D;}
.bad {   border-bottom: 3px solid #BF360C;}

@media screen and (max-width: 900px) {
  .box {
    text-align: center;
    width: 80%;
    margin: 10%;
    display: block;
  }
}
