$a-color: #188a94;

a {
  text-decoration:none;
  font-style: normal;
  color: $a-color;
}

// google map
.sebm-google-map-container {
  height: 300px;
}

.box{
  width: 40%;
  margin: 2%;
  display: inline-block;
  vertical-align: middle;
}

.container {
  margin-top: 10px;
}

.good {  border-bottom: 3px solid #7CB342;}
.moyen { border-bottom: 3px solid #FBC02D;}
.bad {   border-bottom: 3px solid #BF360C;}

.list-elements {
  list-style: none;
}

.list-elements li span {
  width: 80px;
  display: inline-block;
  font-weight: bold;
}

// ICI LA LEGENDE
.aside{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.desc{
  flex: 1;
  min-width: 250px;
}
.legende{
  flex: 1;
  min-width: 250px;
  li{
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .lightgreen{
    height: 20px;
    div{
      width: 10px;
      height: 10px;
      background-color: lightgreen;
      border-radius: 5px;
    }
    p{
      margin-left: 100px;
    }
  }
  .green{
    height: 30px;
    div{
      width: 15px;
      height: 15px;
      background-color: green;
      border-radius: 7px;
    }
    p{
      margin-left: 95px;
    }
  }
  .darkgreen{
    height: 25px;
    div{
      width: 20px;
      height: 20px;
      background-color: darkgreen;
      border-radius: 10px;
    }
    p{
      margin-left: 90px;
    }
  }
  .yellow{
    height: 30px;
    div{
      width: 25px;
      height: 25px;
      background-color: yellow;
      border-radius: 13px;
    }
    p{
      margin-left: 85px;
    }
  }
  .orange{
    height: 35px;
    div{
      width: 30px;
      height: 30px;
      background-color: orange;
      border-radius: 15px;
    }
    p{
      margin-left: 80px;
    }
  }
  .red{
    height: 40px;
    div{
      width: 35px;
      height: 35px;
      background-color: red;
      border-radius: 18px;  
    }
    p{
      margin-left: 75px;
    }
  }
  .black{
    height: 55px;
    div{
      width: 50px;
      height: 50px;
      background-color: black;
      border-radius: 25px;
    }
    p{
      margin-left: 60px;
    }
  }
}


@media screen and (max-width: 900px) {
  .box {
    text-align: center;
    width: 80%;
    margin: 10%;
    display: block;
  }
}
