
<div>
    <!-- <p>website : {{_websiteName}}</p> -->

      <!-- Show Google Maps if params show = true and data are not empty -->
      <div *ngIf="!isEmptyData()" class="good">
        <div *ngIf="_options.showMap">
          <sebm-google-map  [latitude]="_gMap.latitude" [longitude]="_gMap.longitude" [zoom]="this._gMap.zoom" [streetViewControl]="false"  [styles]="getStyleMap(_options.typePollution)">
              <!-- the main marker -->
              <sebm-google-map-marker [zIndex]="1" [latitude]="_gMap.latitude" [longitude]="_gMap.longitude"  [iconUrl]="'https://cdn0.iconfinder.com/data/icons/fatcow/16/radioactivity.png'"></sebm-google-map-marker>
              <!--create a loop to display data : INSERER VARIABLE A LA PLACE DES VALEURS-->

            <div *ngIf='_websiteName=== "safecast" '>
              <div *ngFor="let pos of _data">
                <sebm-google-map-circle
                      [latitude]="pos.latitude"
                      [longitude]="pos.longitude"
                      [radius]="pos.circleRadius"
                      [fillColor]="pos.circleColor"
                      [circleDraggable]="false"
                      [editable]="false"
                      [clickable]="true"
                      [strokeColor]="red"
                      [fillOpacity]="0.6"
                      >
                  </sebm-google-map-circle>
              </div>
            </div>
              <div *ngIf='_websiteName=== "openaq"'>
                <div *ngFor="let pos of _data">
                  <sebm-google-map-circle
                        [latitude]="pos.coordinates.latitude"
                        [longitude]="pos.coordinates.longitude"
                        [radius]="pos.circleRadius"
                        [fillColor]="pos.circleColor"
                        [circleDraggable]="false"
                        [editable]="false"
                        [clickable]="true"
                        [strokeColor]="red"
                        [fillOpacity]="0.6"
                        >
                    </sebm-google-map-circle>
                </div>
            </div>
          </sebm-google-map>
          </div>
      </div>
<div class="container">
  
      <div *ngIf='_websiteName=== "safecast" '>
        <h1>{{ _websiteName }}</h1>
        <h2>légende :</h2>
        <h3>Taux de radioactivitée en µSv/h</h3>
        <aside class="aside">

          
            <ul class="legende">
              <li class="lightgreen" >
                <div ></div><p> <  0,2</p>
              </li>
              <li  class="green">
                <div></div><p> >= 0,2 < 0,3</p>
              </li>
              <li class="darkgreen">
                <div ></div><p> >= 0,3 < 0,4</p>
              </li>
              <li class="yellow">
                <div></div><p> >= 0,4 < 0,45</p>
              </li>
              <li class="orange">
                <div></div><p> >= 0,45 < 0,55</p>
              </li>
              <li class="red">
                <div></div><p> >= 0,55 < 0,75</p>
              </li>
              <li class="black">
                <div></div><p> >= 0,75</p>
              </li>
            </ul>
            <p class="desc">
            Né à Tokyo après la catastrophe de Fukushima en 2011, le projet Safecast permet de mesurer les radiations à l’aide d’un boîtier DiY et de partager les données sur une carte accessible à tous. Makery a rencontré l’équipe fondatrice de ce projet qui mélange ingénieurs, designers et bénévoles.
            </p>
        </aside>
      </div>
  <!-- <p>show the map : <b>{{_options.showMap}}</b></p>
  <p>data empty : <b>{{isEmptyData()}}</b></p> -->

      <div *ngIf='_websiteName=== "openaq"' style="margin-top: 10px;">
        <div id="line_chart" *ngFor="let chart of _listGChart" [chartData]="chart.data" [chartOptions]="chart.options" [chartType]="chart.type" GoogleChart> </div>
        <!-- <div id="bubble_chart" [chartData]="bubble_ChartData" [chartOptions]="bubble_ChartOptions" chartType="BubbleChart" GoogleChart ></div>
        <div id="scatter_chart" [chartData]="scatter_ChartData" [chartOptions]="scatter_ChartOptions" chartType="ScatterChart" GoogleChart > </div>
        <div id="candle_chart" [chartData]="candle_ChartData" [chartOptions]="candle_ChartOptions" chartType="CandlestickChart" GoogleChart ></div>
        <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart ></div>
        <div id="bar_chart" [chartData]="bar_ChartData" [chartOptions]="bar_ChartOptions" chartType="BarChart" GoogleChart ></div> -->
      </div>

      <div class="box" *ngIf="_showChart && _websiteName!== 'openaq'">
        <div id="line_chart" *ngFor="let chart of _listGChart" [chartData]="chart.data" [chartOptions]="chart.options" [chartType]="chart.type" GoogleChart> </div>
        <!-- <div id="bubble_chart" [chartData]="bubble_ChartData" [chartOptions]="bubble_ChartOptions" chartType="BubbleChart" GoogleChart ></div>
        <div id="scatter_chart" [chartData]="scatter_ChartData" [chartOptions]="scatter_ChartOptions" chartType="ScatterChart" GoogleChart > </div>
        <div id="candle_chart" [chartData]="candle_ChartData" [chartOptions]="candle_ChartOptions" chartType="CandlestickChart" GoogleChart ></div>
        <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart ></div>
        <div id="bar_chart" [chartData]="bar_ChartData" [chartOptions]="bar_ChartOptions" chartType="BarChart" GoogleChart ></div> -->
      </div>

      <div class="box" *ngIf="_websiteName == 'aqicn' ">
        <ul class="list-elements">
          <li><span>co :</span> Monoxyde de carbone</li>
          <li><span>h :</span> Hydrogène</li>
          <li><span>no2 :</span> Dioxyde d'azote</li>
          <li><span>p :</span> Phosphore </li>
          <li><span>pm10 :</span> Prométhium <a target="_blank" href="http://www.notre-planete.info/environnement/pollution_air/particules-fines.php#pm10">en savoir plus</a></li>
          <li><span>pm25 :</span> Prométhium <a target="_blank" href="http://www.notre-planete.info/environnement/pollution_air/particules-fines.php#pm25">en savoir plus</a></li>
          <li><span>t :</span> Thallium </li>
        </ul>
      </div>
</div>
